body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site-header > div {
  display: flex;
}
.site-header > div > :nth-child(2) {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 1em;
}
.site-header input:focus {
  outline: none;
}
.site-header input {
  border: none;
  width: 390px;
}
.site-header form {
  border: 1px solid black;
  border-radius: 16px;
  padding: 8px;
}
.site-header .iconBox {
  display: flex;
  font-size: 3em;
  align-items: center;
  gap: 50px;
  padding: 20px;
}
.site-header ul {
  display: flex;
  font-size: 20px;
  gap: 20px;
  list-style: none;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero {
  display: flex;
}
.hero > aside h1 {
  font-size: 30px;
  text-align: center;
}
.hero p {
  font-size: 18px;
  text-align: center;
  padding-right: 150px;
  padding-left: 150px;
}

.hero img {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 8px black;
}
.btn {
  display: block;
  border: 2px solid black;
  box-shadow: 5px 5px 3px black;
  text-align: center;
  padding: 4px;
  width: 180px;
  margin: 0 auto;
}
.spots {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
.spots img {
  width: 350px;
  height: 200px;
  box-shadow: 0 0 43px purple;
}
.spots > div > h2 {
  color: yellow;
  font-weight: bolder;
  position: relative;
  text-align: center;

  top: 130px;
}
h1 {
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.products img {
  width: 100%;
  height: auto;
}
@media (max-width: 575px) {
  .site-header > div,
  ul {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .site-header ul {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .site-header .iconBox {
    font-size: 3em;
    margin-left: 140px;
  }
}
@media (max-width: 575px) {
  .hero {
    flex-direction: column-reverse;
  }
}
@media (max-width: 575px) {
  .hero p {
    font-size: 15px;
    padding: 0;
  }
}
@media (max-width: 575px) {
  .btn {
    width: 350px;
  }
}
@media (max-width: 576px) {
  .spots {
    display: none;
  }
}
@media (max-width: 576px) {
  .spots {
    display: none;
  }
}
@media (max-width: 576px) {
  .products  {
    grid-template-columns: auto;
    grid-template-rows: auto;
    
    
  }
}



